<%- include('partials/header') -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 m-2">
            <div class="card">
                <img src="<%= product.image %>" class="card-img-top" alt="">
            </div>
        </div>
        <div class="col-md-5" m-2>
            <div class="container mt-5">
                <h3><%= product.product %></h3>
                <p class="font-weight-bold text-success"><%= product.price %></p>
                <p><%= product.description %></p>
                <form action="/gifts/checkout" method="POST">
                    <input hidden value="<%= product.id %>" name="productId">
                    <button class="btn btn-success">Comprar</button>
                </form>                
            </div>
        </div>
    </div>

</div>
    

<%- include('partials/footer') -%>